In [10]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [11]:
CONNECT_DATA = 'postgresql://{}:{}@{}/{}'.format(
    os.environ['POSTGRESQL_USER'],
    os.environ['POSTGRESQL_PASSWORD'],
    POSTGRESQL_HOST,
    'demo'
)

In [12]:
%%sql $CONNECT_DATA
    SELECT flight_id, aircraft_code, departure_airport FROM Flights  WHERE arrival_airport='LED' limit 10

10 rows affected.

[(21648, '321', 'VKO'),
 (32925, '321', 'SVO'),
 (33248, '321', 'SVO'),
 (33329, '321', 'SVO'),
 (33736, '321', 'SVO'),
 (108115, 'CR2', 'NJC'),
 (177397, 'CR2', 'REN'),
 (1, '321', 'DME'),
 (2, '321', 'DME'),
 (3, '321', 'DME')]

In [13]:
import os
import json
import psycopg2
from psycopg2.extras import DictCursor

In [14]:
POSTGRESQL_HOST = '10.129.0.25'

In [15]:
!env | grep POST

POSTGRESQL_USER=reader
POSTGRESQL_PASSWORD=Miba2021

In [16]:
 conn = psycopg2.connect(
    dbname='demo', 
    user=os.environ['POSTGRESQL_USER'],
    password=os.environ['POSTGRESQL_PASSWORD'], 
    host=POSTGRESQL_HOST
)
cur = conn.cursor()

In [17]:
query = 'SELECT ticket_no, passenger_id, passenger_name FROM Tickets'

In [18]:
cur.execute(query)
records = cur.fetchall()
print(records)

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)